* {
    margin:0;
    border:0;
    padding:0;
}

.header {
    display: grid;
    height:5rem;
    grid-template-columns: auto 1fr;
    background-color: #001632;
    position:sticky;
    top:0;
}

.footer {
    display: grid;
    height:5rem;
    grid-template-columns: auto 1fr;
    background-color: #001632;
    position:sticky;
    bottom:0;
}

/*    background-image: url(images/hero-page-result.png);*/

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem,auto));
    margin: 2rem 10rem 2rem 10rem;
    grid-gap: 2rem;
}

.card {
    display: grid;
    grid-template-rows: 20rem auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    height: 27rem;
    width: 20rem;
    background-image: url(assets/images/boolean-laptop.jpg);
    background-repeat: no-repeat;
    background-size: 20rem;
    border: 2px solid #001632;

}

.card .card--top {
    display: flex;
    justify-content: flex-end;
}

.card--bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content:flex-end;
    padding:0.2rem;
}

header img,
footer img,
.card--top img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.card--bottom img {
    width: 2.5rem;
    height: 2.5rem;
}
p {
    display: grid;
    text-align: justify;
    margin-left: 2.5rem;
    margin-right: 4rem;
}